<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/homestyles.css">
    <title><%= name %> </title>
</head>
<body>
    <header>
       <div class="logo"></div>
        <div class="line"></div>
        <nav>

            <div class="navbar">
                
                    <a id="link" class="ff-sans-cond text-white fs-16 letr-sps-27 text-decoration-n"href="http://localhost:3000/"> <b>00</b>  Home</a>
                    <a id="link" class="ff-sans-cond text-white fs-16 letr-sps-27 text-decoration-n"href="http://localhost:3000/d/Moon"><b>01</b>  Destination</a>
                    <a id="link" class="ff-sans-cond text-white fs-16 letr-sps-27 text-decoration-n"href="http://localhost:3000/c/Douglas Hurley"><b>02</b>  Crew</a>
                    <a id="link" class="ff-sans-cond text-white fs-16 letr-sps-27 text-decoration-n"href="http://localhost:3000/t/Launch vehicle"><b>03</b>  Technologies</a>
                
            </div>

        </nav>
    </header>
