<%- include('partials/head') %> 

<link rel="stylesheet" href="/css/homestyles.css">

    <main>
        <div class="main-panel">
            <div class='content'>
                <p class="trav ff-sans-cond text-accent fs-28">SO, YOU WANT TO TRAVEL TO</p>
                <h1 class="space ff-serif text-white fs-150">SPACE</h1>
                <p class="text ff-sans text-accent fs-18">
                    Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not
                    hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this
                    world experience! </p>
            </div>

            <a class="explore text-decoration-n" id="link" href="moon">

                <span href="d/moon" id="link" class="explore-text ff-serif text-dark fs-32 text-decoration-n" >Explore</span>

            </a>
        </div>
    </main>
    <script src="/css/ani.js"></script>
</body>

</html>
