
body{
background: url(../assets/destination/background-destination-desktop.jpg) no-repeat 50% fixed ;
/* background-position:top bottom; */
height: 100%;
width: 100%;
padding:40px 0 0 55px;
}
.fade-in{
    animation:fade-in;
    animation-duration:500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}
@media  (min-width:900px){
    body{
        background-size: cover;}
}
@media(min-width:1442px){
body{
 background-size: cover;}
}
.pick{
    position:absolute;
    top:212px;
    left:220.5px;
    line-height: 34px;
    letter-spacing: 4.725px;
    
}
@keyframes fade-in {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}
b{
    opacity:0.25;
}
.panel{
    display:flex;
    align-items: center;
    margin:174px 163px 0 12.15vw;
    justify-content:space-between;
}
.panel img{
    margin-top:33px;
}
.side-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:445px;
    height:472px;

}
.info{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    
}
.info .ff-serif{
    text-transform: uppercase;
    margin-bottom: 14px;
}
.info .ff-sans{
    margin-bottom: 54px;
    line-height: 32px;
}
.links{
    display: flex;
    width:285.5px;
    justify-content: space-between;
    margin-bottom: 37px;
    margin-right:160px;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.data section:first-child span:first-child{
    margin-right: 125px;
}
.data section:last-child span:first-child{
    margin-right:79px;
}
.line2{
    background-color:  #383B4B;
    opacity:1;
    height:1px;
    width:444px;
    margin-bottom: 28px;
}
@media(max-width:900px){
    body{
        background-image: url(../assets/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
    }
    .pick{
        top:136px;
        left:38.5px;
        font-size: 20px;
    }
    .panel{
        flex-direction: column;
        margin-top:80px;
        margin-left:150px;
        justify-content: center;
    }
    .panel img{
        height:300px;
        width:300px;
    }
    .info{
        text-align:center;
    }
    .links{
        margin-right: 0;
        margin-top: 53px;
    }
    .info .ff-sans{
        margin-bottom: 54px;
        line-height: 28px;
        width: 74vw;
        font-size: var(--fs-16);
    }
    .data{
        width:74vw;
        padding-left:95px;
        gap:17px;
    }
    .data section:first-child span:first-child{
        margin-right: 175px;
    }
    .data section:last-child span:first-child{
        margin-right:120px;
    }
}
